<li class="list-group-item" data-id="<%= thing.id %>">
    <div class="groupForm">
        <form class="d-inline">
            <span><%= thing.thing %></span>
        </form>
        <% if (isLogged && thing.userid === userObj.id) { %>
            <form action="/thing/update" method="post" class="changeForm d-inline">
                <input type="submit" value="Change" name="change" class="btn btn-warning btn-sm ml-2">
                <input type="hidden" value="<%= thing.id %>" name="id" class="id">
            </form>

            <div class="container d-inline p-0" >
                <button type="submit" class="btn btn-dark btn-sm ml-2 modalbutton" data-toggle="modal"
                        data-target="#exampleModal" data-id="<%= thing.id %>">
                    Delete
                </button>
            </div>
        <% } %>
    </div>
</li>

