<nav class="navbar navbar-expand-sm navbar-light bg-light mb-4">
    <div class="container">
        <% if(isGuest){ %>
            <a class="navbar-brand" href="/">Things app</a>
        <% }else { %>
            <div class="container p-0">
                <a class="navbar-brand" href="/user/things">Things app</a>
                <a class="navbar-brand" href="/">All Things</a>
            </div>
        <% } %>
        <% if(isLogged){ %>
            <a class="navbar-brand" href="/user/logout">Logout</a>
        <% }else { %>
            <a class="navbar-brand" href="/login">Login</a>
        <% } %>
    </div>
</nav>